<app-header></app-header>
<section class="section" style="background-color: rgba(167, 226, 236, 0.658); height:700px;">
  <div class="container"> 
    <form name="login" (ngSubmit)="fac_send()"> 
      <h2 class="lab">Faculty Registration Form </h2>  
      <div class="tile is-parent tile is-6 level-item" id="home" >
        <article class="tile is-child box"> 

          <div class="field"> <span class="labe">Faculty Id </span>
            <input class="input is-rounded" type="text" placeholder="Faculty ID" 
                   name="facId" [(ngModel)]="facId" required minlength="5" 
                   #facIdInput="ngModel" style="width: 45%; left:140px">
            <div class="help is-danger" *ngIf="facIdInput.invalid && facIdInput.dirty" style="background-color: rgba(216, 122, 122, 0.692)">
              <b>Id is required </b>
            </div> 
          </div>   

          <div class="field"> <span class="labe">Hostel Incharge</span> 
                <div class="select is-rounded" style="left:95px">
                  <div class="select is-info">
                    <select id="hostel" name="hostel" [(ngModel)]="hostel">
                      <option>Select Hostel</option>
                      <option>Chief Warden</option>
                      <option>Sarabhai</option>
                      <option>Bha-Bha</option>
                      <option>Bose</option>
                      <option>Raman</option>
                      <option>Sarojini</option>
                      <option>Kasturba</option> 
                    </select>
                  </div>
                </div> 
          </div> 

          <div class="field"> <span class="labe">Email ID</span>
            <input class="input is-rounded" type="email" placeholder="Email ID" 
                   name="email" [(ngModel)]="email" required email 
                   #emailInput="ngModel" style="width: 45%; left:155px">
            <div *ngIf="emailInput.errors && emailInput.touched"> 
              <div *ngIf="emailInput.errors.required"> 
                Email required.
              </div>			   
              <div *ngIf="emailInput.invalid && !emailInput.errors.required"> 
                Email not valid.
              </div>
            </div>   
          </div> 

          <div class="field"> <span class="labe">Mobile Number</span>
            <input class="input is-rounded number" type="text" placeholder="Mobile Number"
                   name="mobNum" [(ngModel)]="mobNum" required minlength="10" maxlength="10" 
                   #mobNumInput="ngModel" style="width: 45%; left:100px">
            <div class="help is-danger" *ngIf="mobNumInput.invalid && mobNumInput.dirty" style="background-color: rgba(216, 122, 122, 0.692)">
              <b>Invalid Number</b>
            </div>
          </div> 

          <div class="field"> <span class="labe">Name</span>
            <input class="input is-rounded" type="text" placeholder="Name" 
                   name="name" [(ngModel)]="name" required minlength="5" 
                   #nameInput="ngModel" style="width: 45%; left:173px">
            <div class="help is-danger" *ngIf="nameInput.invalid && nameInput.dirty" style="background-color: rgba(216, 122, 122, 0.692)">
              <b>Required</b>
            </div>
          </div>   

          <div class="field"> <span class="labe">Department</span>
            <input class="input is-rounded" type="text" placeholder="Department" 
                   name="dept" [(ngModel)]="dept" required minlength="5" 
                   #deptInput="ngModel" style="width: 45%; left:128px">
            <div class="help is-danger" *ngIf="deptInput.invalid && deptInput.dirty" style="background-color: rgba(216, 122, 122, 0.692)">
              <b>Id is required </b>
            </div> 
          </div>   

          <div class="field"> <span class="labe">Password</span> 
            <input class="input is-rounded" type="password" placeholder="Password" 
                   name="pass" [(ngModel)]="pass" required minlength="6" 
                   #passInput="ngModel"  style="width: 45%;left:145px"> 
            <div class="help is-danger" *ngIf="passInput.invalid && passInput.dirty" style="background-color: rgba(216, 122, 122, 0.692)">
              <b>Password is required and needs to be at least 6 characters long.</b>
            </div>
          </div> 

          <div class="field"> <span class="labe">Confirm Password</span>
            <input class="input is-rounded" type="password" placeholder="Password" 
                   name="confPass" [(ngModel)]="confPass" required minlength="6" 
                   #confpassInput="ngModel"  style="width: 45%;left:80px"> 
            <div class="help is-danger" *ngIf="confpassInput.invalid && confpassInput.dirty" style="background-color: rgba(216, 122, 122, 0.692)">
              <b>Password is required and needs to be at least 6 characters long.</b>
            </div>
          </div>  

          <div class="field level-item has-text-centered">  
            <button type="submit" class="button is-success" id="Submit" name="Submit" style="right:50px" > Register </button> 
            <button type="reset" class="button" id="Clear" name="Clear" style="background-color:rgb(82, 119, 241); color: white; left:-20px"> Clear </button> 
          </div>  
        </article>
      </div>  
    </form>
  </div> 
</section>
 